.support-block-title
{
    font-size: 20px;
    font-weight: 600;
    color: var(--Light-Pink);
    margin-bottom: 21px;
    text-transform: uppercase;
}
.support-block-list
{
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    color: var(--Gray-3);
}