.header-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Pink);
    padding: 12px 0;
    flex-wrap: wrap;
}
.header-div-text
{
    font-size: 13px;
    font-weight: 500;
    color: var(--White);
    margin-right: 255px;
}
.header-div-img
{
    width: 12px;
    margin-right: 8px;
}
.header-div_text
{
    font-size: 13px;
    font-weight: 500;
    color: var(--White);
    margin-right: 24px;
}
.header-div_img
{
    width: 18px;
}
/* ========================================================== */
.header-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}
.header-list
{
    display: flex;
    gap: 0 50px;
}
.section-main
{
    background-image: url(/main-bg.13403173.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 788px;
    margin-bottom: 40px;
}
.section-block
{
    padding-top: 227px;
}
.section-block-title
{
    font-family: "Georgian", serif;
    font-size: 93px;
    font-weight: 700;
    width: 600px;
    margin-bottom: 20px;
}
.section-block-text
{
    font-size: 25px;
    font-style: italic;
    color: var(--Gray-1);
    width: 406px;
    margin-bottom: 31px;
}
.section-block-btn
{
    font-size: 18px;
    line-height: 2.4;
    letter-spacing: 1.5px;
    color: var(--White);
    background-color: var(--Light-Pink);
    padding: 13px 25px;
}
.section-bestsellers
{
    margin-bottom: 62px;
}
.shipping-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shipping-text
{
    font-size: 18px;
    font-weight: 600;
    color: var(--Light-Pink);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.shipping-title
{
    font-family: "Georgian", serif;
    font-size: 41px;
    font-weight: 400;
    color: var(--Gray-2);
    margin-bottom: 55px;
    position: relative;
}
.shipping-title::after
{
    content: '';
    position: absolute;
    background-image: url(/heading_left.217fc3d7.png);
    background-repeat: no-repeat;
    background-position: left;
    top: 5px;
    right: 0;
    left: -90px;
    bottom: 0;
}
.shipping-title::before
{
    content: '';
    position: absolute;
    background-image: url(/heading_right.7072f3d3.png);
    background-repeat: no-repeat;
    background-position: right;
    top: 8px;
    right: -90px;
    left: 0;
    bottom: 0;
}
.bestsellers-block
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px;
    margin-bottom: 64px;
}
.bestsellers-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 67px 5px #00000014;
    position: relative;
}
.bestsellers-ellipse
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
}
.bestsellers-img
{
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
}
.bestsellers-title
{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: var(--Black-1);
    margin-bottom: 13px;
}
.bestsellers_box
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 13px;
}
.bestsellers-span
{
    font-size: 14px;
    font-weight: 600;
    color: var(--Gray-4);
}
.bestsellers_span
{
    font-size: 14px;
    color: var(--Gray-4);
    text-decoration-line: line-through;
}
.bestsellers-box_img
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    margin-bottom: 12px;
}
.bestsellers-btn
{
    font-family: "Georgian", serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--Light-Pink);
    border: 1.7px solid var(--Light-Pink);
    padding: 13px 43px;
    display: block;
    margin: 0 auto;
}
.section-values
{
    background-image: url(/values-bg.51bd731b.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 555px;
    margin-bottom: 63px;
    background-color: var(--White-2);
    padding: 110px 0;
}
.values-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    background-color: var(--White);
    width: 542px;
    padding: 82px 32px;
}
.values-title
{
    font-family: "Georgian", serif; 
    font-size: 35px;
}
.values-span
{
    color: var(--Light-Pink);
}
.values-text
{
    font-style: italic;
    line-height: 1.6;
    color: var(--Gray-1);
    width: 480px;
    text-align: center;
}

/*# sourceMappingURL=/Azzana.e31bb0bc.css.map */